.timer{
    font-weight: 600;
    font-size: 160px;
    color: beige;
    background: rgba(169, 169, 169, 0.3);
    max-width: 490px;
    width: 490px;
    height: 400px;
    /*max-height: 500px;*/
    border-radius: 65px;
    /*cursor: pointer;*/
    text-align: center;
    padding: 5px;
    margin-right: 10px;
    /*margin-top: -200px;*/
}

.wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*margin-top: -80px;*/
    margin-bottom: 10px;
    margin-top: 40px;
    height: 190px;
}
.wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*margin-top: -80px;*/
    margin-bottom: 10px;
    margin-top: 40px;
    height: 190px;
}
.wrapperBtn{
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*margin-top: -80px;*/
    margin-bottom: 10px;
    margin-top: 175px;
    margin-left: 50px;
    height: 100px;
}
.wrapperBtnTimers{
    display: flex;
    position: absolute;
    top:65px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*margin-top: -80px;*/
    margin-bottom: 10px;
    margin-top: 70px;
    height: 100px;
}
.p{
    /*height: 30px;*/

    padding-top: 40px;
    margin: 10px;


}

@media (max-width: 1370px) {
    .timer{
        font-weight: 600;
        font-size: 160px;
        color: beige;
        background: rgba(169, 169, 169, 0.3);
        max-width: 490px;
        width: 490px;
        height: 220px;
        /*max-height: 500px;*/
        border-radius: 65px;
        /*cursor: pointer;*/
        text-align: center;
        padding: 6px;
        margin-right: 10px;
        margin-top: 125px;
    }


    .wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        /*margin-top: -80px;*/
        margin-bottom: 25px;
        margin-top: 6px;
        height: 190px;
    }
    .wrapperBtn{
        display: flex;
        position: absolute;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        /*margin-top: -80px;*/
        margin-bottom: 10px;
        margin-top: 15px;
        margin-left: 50px;
        height: 100px;
    }
    .wrapperBtnTimers{
        display: flex;
        position: absolute;
        top:65px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        /*margin-top: -80px;*/
        margin-bottom: 10px;
        margin-top: 98px;
        height: 100px;
    }
    .p{
        /*height: 30px;*/

        padding-top: 40px;
        margin: 10px;


    }
}