.wrapperMain{
    display: flex;
    position: center;
    margin:auto;
    max-width: 600px;
    border-radius: 20px;
    width: 550px;
    height: 650px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-color: rgb(0, 60, 114);*/
    /*background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);*/
    background: linear-gradient(to right, #5f2c82, #49a09d);

    /*    background: linear-gradient(to right, #003973, #e5e5be);*/
}

